<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>
<body>
    
    <center>
       
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="submitedFile">
            <br>
            <input type="submit">
        </form>


        <% for(file of Files) { %>
        
            <a href= "<%= file %>" download>
                <p><%= file %></p> 
            </a>
    
        <% } %>

        
      

    </center>

   <p><%= version %></p>

</body>
</html>