<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Server File Explorer | Home  </title>
    <link rel="stylesheet" href= "styles.css" />
    
</head>
<body>
    

<script src="/ejsFuncs/functions.js" type="application/javascript"></script>



    <center>
       
       
        <form action="/" method="post" enctype="multipart/form-data">
            
            <input type="file" title="Drag and Drop" name="submitedFile" class="submissionBox">
            <br>
            <input class="submit" type="submit" value="Submit"> 

        </form>
       

        <br>


        <div class="mainFiles">
            <% for(file of Files) { %>
                
                <p><%= file %></p> 
                <a href= "<%= file %>" download>
                    <button class="buttons">Download</button>
                </a>
                
 
            <% } %>    
        </div>

    </center>

   <h4><%= version %></h4>

</body>
</html>