.deleteButton {
    width: 175px;
    height: 25px;


    border-radius: 10px;
    color: red;

}

.downloadItems {
    font-size: 35px;
    text-decoration: none;
    
    word-break:keep-all;

}




.checkbox input {
    padding-bottom: 15px;
    width: 43px;
    height: 43px;

}


