body {
    background-color:white;
}

.centerBox {
    border: solid;
    border-color: 003135;
    border-width: 3px;

    width: 400px;
    
    padding: 30px;
    float: right;
}

li {
    list-style-type: none;
}


