body 
{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #42f5c5, #42c5f5, #4254f5, #9342f5, #f542f5);

}

.actionButton {
    width: 75px;
    height: 30px;
    border: none;
    
    padding: 10px;
    margin: 0px;

    float: right;
}

.files {
    width: 1000px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}


.pathButton {
    width: 75px;
    height: 30px;
    border: none;

    padding: 0px;
    margin: 0px;
    
}

.checkbox {
     width: 25px;
    height: 25px;

    padding: 0px;
    margin: 10px;

}

.fileSubmit {
    width: 75px;
    height: 30px;
    border: none;

    padding: 0px;
    margin: 10px;
}


input[type="file"]::file-selector-button {
    width: 75px;
    height: 30px;
    border: none;

    padding: 0px;
    margin: 0px;
    
}

.deleteButton {
    width: 115px;
    height: 30px;
    border: none;

    padding: 0px;
    margin: 0px;
}

